{% extends 'base.html' %}

<!--HEADER-->
{% block head %}
{% endblock %}

<!--BODY-->
{% block body %}
<div class="container">
    <div class="list" id="history">
        <table>
            <h2> History </h2>

            <tr>
                <th>IP</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            <tr>

                {% for row in history %}
                <tr>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2.date() }}</td>
                    <td>{{ row.3 }}</td>
                </tr>
                {% endfor %}
           
            </tr>
        </table>
    </div>
    <div class="list">
        <table>
            <h2> IP Table </h2>

            <tr>
                <th>IP</th>
                <th>
                    <div class="dropdown">
                        <button class="dropbtn">Access  <i class="fa fa-arrow-down"></i></button>
                        <div class="dropdown-content">
                            <a id='search' href="/netapp/SearchByAccess/{{'ALL'}}">ALL</a>
                            <a id='search' href="/netapp/SearchByAccess/{{'ALLOW'}}"></i>ALLOW</a>
                            <a id='search' href="/netapp/SearchByAccess/{{'DO NOT ALLOW'}}">DO NOT ALLOW</a>
                        </div>
                    </div>
                </th>
                <th>Added</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>

                {% for ip in ips %}
                <tr>
                    <td>{{ ip.1 }}</td>
                    <td>{{ ip.2 }}</td>
                    <td>{{ ip.3.date() }}</td>
                    <td><a id='cancel' href="/delete/{{ip.0}}"><i class="fa fa-ban"></i></a></td>
                    <td><a id='update' href="/update/{{ip.0}}"><i class="fa fa-wrench"></i></a></td>
                </tr>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="list">
        <h2>Insert IP</h2>
        <form name="addip" action="/addip" method="POST">
            <input type="text" name="ip" id="ip" required>
            <input type="Submit" value="Give Access" onclick="return ValidateIPaddress(addip.ip);">
        </form>

        <form enctype="multipart/form-data" name="importcsv" action="/importcsv" method="POST">
            <label for="file"> <h2 style="text-align:center;">Import csv file: </h2> </label>
            <input type="file" id="file" name="file" accept=".csv" required>
            <input type = "submit"/>
        </form>

        <a href="/netapp/deleteall">
            <button class="deletebtn"> 
                    <h3>Delete all Subscriptions</h3> <i class="fa fa-trash-o"></i>
            </button>
        </a>
    </div>
</div>
{% endblock %}